.custom-time-picker {
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-time-picker .react-time-picker__inputGroup__input {
  width: 100px;
  background-color: transparent;
  outline: none;
  border: none;
  margin: 0px 4px;
  padding-left: 0px;
}