@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Sansation';
    src: url('./assets/fonts/Sansation_Regular.ttf');
}

* {
    font-family: 'Sansation';
}

body, html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: url('https://firebasestorage.googleapis.com/v0/b/cultural-passport-78148.appspot.com/o/images%2Fcursores%2Fcursor.png?alt=media&token=369efea4-39e8-4ee3-8216-de62883451de'), auto;
}

@keyframes progressAnimation {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

.Toastify__progress-bar {
    background-size: 200% 200%;
}