@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Sansation';
    src: url('./assets/fonts/Sansation_Regular.ttf');
}

* {
    font-family: 'Sansation';
}

body, html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}